@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(243 234 227);
}

.product {
    width: 35vw;
    height: 50vh;
    display: flex;
    border-radius: 10px;
}

.left {
    width: 50%;
    height: 100%;
    background: black;
}

.left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right {
    width: 50%;
    height: 100%;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0px 0px 0px 30px;
}

.perfume {
    color: gray;
    letter-spacing: 10px;
    font-size: 10px;
    position: relative;
    top: 20px;
    font-weight: 600;
    font-family: sans-serif;
}

.title {
    width: 13vw;
}

.title h1 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: bolder;
}

.desc {
    color: gray;
    font-size: small;
    width: 12vw;
    word-spacing: 2px;
}

.price {
    display: flex;
    align-items: center;
}

.price h2 {
    font-weight: bolder;
    font-size: xx-large;
    color: #3d8168;
}

.price span {
    position: relative;
    right: -25px;
    text-decoration: line-through;
    color: gray;
    opacity: .9;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn button {
    background-color: #3d8168;
    padding: 10px 70px;
    position: relative;
    right: 10px;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    border: none;
    border-radius: 7px;
}

.btn button i {
    margin-right: 10px;
}

@media only screen and (max-width: 1280px) {
    body {
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgb(243 234 227);
    }

    .product {
        width: 35vw;
        height: 50vh;
        display: flex;
        border-radius: 10px;
    }

    .left {
        width: 50%;
        height: 100%;
    }

    .left img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .right {
        width: 50%;
        height: 100%;
        background: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0px 0px 0px 20px;
    }

    .perfume {
        color: gray;
        letter-spacing: 10px;
        font-size: 8px;
        position: relative;
        top: 10px;
        font-weight: 600;
        font-family: sans-serif;
    }

    .title {
        width: 16vw;
    }

    .title h1 {
        font-family: "Playfair Display", serif;
        font-optical-sizing: auto;
        font-weight: bolder;
        font-size: x-large;
    }

    .desc {
        color: gray;
        font-size: small;
        width: 15vw;
        word-spacing: 1px;
        font-size: 10px;
    }

    .price {
        display: flex;
        align-items: center;
    }

    .price h2 {
        font-weight: bolder;
        font-size: large;
        color: #3d8168;
    }

    .price span {
        position: relative;
        right: -25px;
        text-decoration: line-through;
        color: gray;
        opacity: .7;
    }

    .btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn button {
        background-color: #3d8168;
        padding: 10px 40px;
        color: white;
        font-weight: bold;
        font-family: sans-serif;
        border: none;
        border-radius: 7px;
    }

    .btn button i {
        margin-right: 10px;
    }
}

@media only screen and (max-width: 900px) {
    body {
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgb(243 234 227);
    }

    .product {
        width: 50vw;
        height: 80%;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
    }

    .left {
        width: 100%;
        height: 70%;
    }

    .left img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .right {
        width: 100%;
        height: 100%;
        background: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0px 0px 0px 20px;
    }

    .perfume {
        color: gray;
        letter-spacing: 5px;
        font-size: 8px;
        position: relative;
        top: 10px;
        font-weight: 600;
        font-family: sans-serif;
    }

    .title {
        width: fit-content;
    }

    .title h1 {
        font-family: "Playfair Display", serif;
        font-optical-sizing: auto;
        font-weight: bolder;
        font-size: x-large;
    }

    .desc {
        color: gray;
        font-size: small;
        width: 70%;
        word-spacing: 1px;
        font-size: 10px;
    }

    .price {
        display: flex;
        align-items: center;
    }

    .price h2 {
        font-weight: bolder;
        font-size: large;
        color: #3d8168;
    }

    .price span {
        position: relative;
        right: -25px;
        text-decoration: line-through;
        color: gray;
        opacity: .7;
    }

    .btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn button {
        background-color: #3d8168;
        padding: 10px 60px;
        color: white;
        font-weight: bold;
        font-family: sans-serif;
        border: none;
        border-radius: 7px;
        position: relative;
        right: 15px;
    }

    .btn button i {
        margin-right: 10px;
    }
}

@media only screen and (max-width: 460px) {
    body {
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgb(243 234 227);
    }

    .product {
        width: 70vw;
        height: 80%;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
    }

    .left {
        width: 100%;
        height: 50%;
    }

    .left img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .right {
        width: 100%;
        height: 80%;
        background: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0px 0px 0px 20px;
    }

    .perfume {
        color: gray;
        letter-spacing: 5px;
        font-size: 8px;
        position: relative;
        top: 10px;
        font-weight: 600;
        font-family: sans-serif;
    }

    .title {
        width: 60vw;
    }

    .title h1 {
        font-family: "Playfair Display", serif;
        font-optical-sizing: auto;
        font-weight: bolder;
        font-size: x-large;
    }

    .desc {
        color: gray;
        font-size: small;
        width: 70%;
        word-spacing: 1px;
        font-size: 10px;
    }

    .price {
        display: flex;
        align-items: center;
    }

    .price h2 {
        font-weight: bolder;
        font-size: large;
        color: #3d8168;
    }

    .price span {
        position: relative;
        right: -25px;
        text-decoration: line-through;
        color: gray;
        opacity: .7;
    }

    .btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn button {
        background-color: #3d8168;
        padding: 10px 60px;
        color: white;
        font-weight: bold;
        font-family: sans-serif;
        border: none;
        border-radius: 7px;
        position: relative;
        right: 15px;
    }

    .btn button i {
        margin-right: 10px;
    }
}