* {
    margin: 0;
    padding: 0;
    font-family: cursive;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.border {
    border: 2px solid black;
    width: 25vw;
    height: auto;
    margin: auto;
    align-self: center;
    border-radius: 5px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

form {
    display: flex;
    justify-content: center;
}

input {
    width: 80%;
    margin-top: 5px;
    padding: 4px;
}

.list {
    list-style: none;
    display: flex;
    padding: 10px;
    width: 18vw;
}

li img {
    width: 20%;
    object-fit: cover;
    border: 2px solid black;
    border-radius: 50%;
}

li div {
    position: relative;
    right: -20px;
}


@media only screen and (max-width: 1025px) {
    .border {
        width: 80vw;
        height: auto;
        margin: auto;
        padding: 10px;
        align-self: center;
        border-radius: 5px;
    }

    .list {
    list-style: none;
    display: flex;
    padding: 10px;
    width: auto;
}

li img {
    width: 20%;
    object-fit: cover;
    border: 2px solid black;
    border-radius: 50%;
}

li div {
    position: relative;
    right: -20px;
}

}