* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.top {
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 8vh;
}

.addTask {
    width: 30vw;
    padding: 10px;
    border: rgb(48, 90, 226) 2px solid;
    border-radius: 10px;
}

.addTask:focus {
    outline-style: none;
    border: rgb(48, 90, 226) 3px solid;
}

.addBtn {
    padding: 10px 20px;
    border-radius: 10px;
    background: #4d75e4;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    font-weight: bold;
    width: fit-content;
    margin: 0px 14px;
}

#removeAll {
    padding: 10px 20px;
    border-radius: 10px;
    background: #e44d5f;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    font-weight: bold;
    width: fit-content;
    margin: 0px 14px;
    cursor: pointer;
}

.addBtn:hover {
    cursor: pointer;
    padding: 10px 22px;
    transform-style: preserve-3d;
}

.task {
    width: 50%;
    justify-self: center;
    margin: 10px 20px;
}

.task ul li {
    margin-top: 20px;
}

#taskForm {
    display: flex;
}

.completed {
    text-decoration: line-through;
    opacity: 0.6;
}

.liTag {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: fit-content;
}

.taskText {
    margin-left: 20px;
}

.delete {
    background: rgb(216, 74, 74);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    padding: 5px 20px;
    position: fixed;
    right: 30%;
    cursor: pointer;
}

.counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

@media only screen and (max-width: 850px) {
    header {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    .top {
        display: flex;
        flex-direction: column;
        width: 70%;
        align-items: center;
        justify-content: center;
        margin: auto;
        margin-top: 8vh;
    }

    .addTask {
        width: 30vw;
        padding: 10px;
        border: rgb(48, 90, 226) 2px solid;
        border-radius: 10px;
    }

    .addTask:focus {
        outline-style: none;
        border: rgb(48, 90, 226) 3px solid;
    }

    .addBtn {
        padding: 10px 20px;
        border-radius: 10px;
        background: #4d75e4;
        color: white;
        font-family: 'Courier New', Courier, monospace;
        font-size: medium;
        font-weight: bold;
        width: fit-content;
        margin: 0px 14px;
    }

    #removeAll {
        margin-top: 10px;
        padding: 5px 10px;
        border-radius: 10px;
        background: #e44d5f;
        color: white;
        font-family: 'Courier New', Courier, monospace;
        font-size: medium;
        font-weight: bold;
        width: 100%;
        font-size: small;
        cursor: pointer;
    }

    .addBtn:hover {
        cursor: pointer;
        padding: 10px 22px;
        transform-style: preserve-3d;
    }

    .task {
        width: 80%;
        justify-self: center;
        margin: 10px 20px;
    }

    #taskForm {
        display: flex;
    }

    .completed {
        text-decoration: line-through;
        opacity: 0.6;
    }

    .liTag {

        align-items: center;
        justify-content: space-around;
        width: fit-content;
        position: relative;
    }

    .taskText {
        margin-left: 20px;
    }

    .delete {
        background: rgb(216, 74, 74);
        color: rgb(255, 255, 255);
        border: none;
        font-size: small;
        border-radius: 10px;
        padding: 5px 10px;
        position: fixed;
        right: 20px;
        cursor: pointer;
    }
}